* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #ffcfd9;
    background-color: #db91a0;
    font-size: 80px;
    font-family: cursive;
    font-weight: normal;
}
body {
    background-color: #ffcfd9;
}